<%- include("header") -%>
<div class="search-body home">
  <div class="container">
    <h1 class="header">402 Error</h1>
    <h3 class="sub-header not-found">
      Sorry, the API we use is out of requests for today. <br />
      Please try again tomorrow.
    </h3>
  </div>
</div>
<!-- <script src="app.js"></script> -->
<%- include("footer") -%>
