  <footer class="footer">
  <ul class="footer-nav">
    <li class="footer-navlink">
      &copy;
      <script class="nav-link">
        new Date().getFullYear() > 2010 &&
        document.write(" " + new Date().getFullYear());
        </script>
          S Kington
        </li>
        <li class="footer-navlink"><a class="nav-link" target="_blank" href="https://github.com/s-kngstn/fridge-app"><i class="fab fa-github-alt fa-1x icon"></i> Source code</a></li>
        <li class="footer-navlink"><a class="nav-link" target="_blank" href="https://www.buymeacoffee.com/skingston"><i class="fas fa-mug-hot fa-1x icon"></i> Buy me a Coffee</a></li>
      </ul>
      <!-- Copyright 2021 - Testing out the footer -->
    </footer>
        <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/55981f14a4.js" crossorigin="anonymous"></script>
  </body>
</html>